# Entornos virtuales
venv/
env/

# Variables de entorno
.env

# Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de usuario/Generados
uploads/
generados/

# Logs
logs/
*.log

# Archivos de SO
.DS_Store
Thumbs.db